<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="d3-demo.css">
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var timestamps = [{{data}}];
</script>
<script src="d3-demo.js"></script>
</body>
</html>
